@font-face {
	font-family: "IntroRegular";
	src: url("fonts/intro.otf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: 'Verdana';
	background: #000033;
	position: relative;
}

div.quiz-header {
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
	/*margin-top: 50px;*/
	margin-bottom: 50px;
}

nav.quiz-menu {
	background: #000033;
	padding: 0;
}
nav.quiz-menu .nav-link {
	color: #FFFFFF;
	padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}
nav.quiz-menu .nav-item .nav-link.active {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #ff6699;
}

nav.quiz-menu #navbarNav ul.nav {
    width: 100%;
	font-size: 1rem;
    display: flex;
    justify-content: space-around;
	padding-left: 10rem;
	padding-right: 10rem;
}

nav.quiz-menu .quiz-menu-button {
	color: #FFFFFF;
	font-size: 3rem;
}
nav.quiz-menu .navbar-toggler:focus {
	outline: none !important;
}

div.quiz-block-container {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
    max-width: 100%;
}
div.quiz-block-container div.quiz-block {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
    max-width: 100%;
}
div.quiz-block.block-dark {
	background: #330066;
	color: #FFFFFF;
}
div.quiz-block.block-light {
	background: #E3E3FE;
	color: #000033;
}

div.quiz-block-container div.quiz-block .main-text {
	padding-bottom: 50px;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}


div.quiz-item {
	font-size: 1.5rem;
	padding-bottom: 1rem;
	display: flex;
}
div.quiz-item .quiz-icon {
	padding-right: 1rem;
	font-size: 2rem;
}

div.quiz-block-container .text {
	font-size: 120%;
}
div.quiz-block-container .text-right {
	text-align: right;
}

div.quiz-panel {
	font-size: 180%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.quiz-panel.quiz-panel-no-img {
	font-size: 2.5rem;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.quiz-panel.panel-light {
	color: #000033;
}
div.quiz-panel.panel-light a {
	color: #000033;
}
div.quiz-panel.panel-light a:hover {
	color: #000033;
}
div.quiz-panel.panel-light a:visited {
	color: #000033;
}
div.quiz-panel.panel-dark {
	color: #000033;
}
div.quiz-panel.panel-dark a {
	color: #FFFFFF;
}
div.quiz-panel.panel-dark a:hover {
	color: #FFFFFF;
}
div.quiz-panel.panel-dark a:visited {
	color: #FFFFFF;
}


div.quiz-panel img {
	padding-right: 50px;
}

.quiz-button {
	margin-top: 30px;
	border-radius: 0px;
	width: 265px;
	font-size: larger;
	border-style: none;
	border-bottom-style: solid;
    border-bottom-width: 3px;
}
.quiz-button:active {
	box-shadow: inherit !important;
	transform: translateY(3px)
}
.quiz-button:focus {
	box-shadow: inherit;
}
.quiz-button.btn-light {
	color: #FFFFFF;
	background-color: #ff6699;
    border-bottom-color: #CC6699;
}
.quiz-button.btn-light:active {
	color: #FFFFFF !important;
	background-color: #ff6699 !important;
    border-bottom-color: #CC6699 !important;
}
.quiz-button.btn-dark {
	color: #FFFFFF;
	background-color: #330066;
    border-bottom-color: #000033;
}
.quiz-button.btn-dark:active {
	color: #FFFFFF !important;
	background-color: #330066 !important;
    border-bottom-color: #000033 !important;
}

div.quiz-block-container.main {
	color: #FFFFFF;
	background-image: url("image/main_background.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
div.quiz-block-container.main .quiz-block {
	background-image: url("image/main-logo.png");
	background-repeat: no-repeat;
	background-position: center 6rem;
    background-size: 40rem;
	width: 100%;
	height: 100%;
}

div.quiz-block-container.main .main-header {
	text-align: center;
	font-family: 'IntroRegular', 'Verdana';
	font-size: 2.5rem;
}

div.quiz-block-container.main .contacts {
	padding-top: 1rem;
}
div.quiz-block-container.main .contacts .phone {
	font-size: 180%;
	font-weight: bold;
}
div.quiz-block-container.main .contacts .email {
	font-size: 150%;
	padding-bottom: 40px;
}
div.quiz-block-container.main .contacts .email a {
	color: #FFFFFF;
}
div.quiz-block-container.main .contacts .email a:hover {
	color: #FFFFFF;
}
div.quiz-block-container.main .contacts .email a:visited {
	color: #FFFFFF;
}
div.quiz-block-container.main .signup {
	padding-top: 1rem;
}
div.quiz-block-container.main .socialbuttons {
	padding-top: 15rem;
	padding-bottom: 50px;
}
div.quiz-block-container.main .cert {
	padding-top: 20rem;
	padding-bottom: 50px;
}

div.quiz-block-container.main .socialbuttons img {
	padding: 5px;
}

div.terms div.quiz-block.intro {
	background-image: url("image/background4.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
div.terms div.quiz-block.details {
	background-image: url("image/background2.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
div.corp div.quiz-block.corp-block {
	background-image: url("image/background3.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

div.quiz-block.faq .faq-block {
	border-width: 7px;
    border-style: solid;
	padding: 1.5rem;
	margin-bottom: 1rem;
}
div.quiz-block.faq .faq-block.good {
    border-color: #63C130;/*#709000;*/
}
div.quiz-block.faq .faq-block.bad {
    border-color: #CD3354;/*#8B001E;*/
}
div.quiz-block.faq .quiz-title {
	font-size: 1.8rem;
	padding-bottom: 0.8rem;
	display: flex;
	justify-content: center;
}
div.quiz-block.faq .quiz-item {
	/*padding-left: 100px;*/
	padding-left: 4rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
}
div.quiz-block.faq .quiz-icon {
	padding-right: 0.5rem;
	font-size: 1.5rem;
}
div.quiz-block-container.gallery .carousel .carousel-inner {
	width: 80%;
	margin: auto;
}
div.quiz-block-container.gallery .carousel .carousel-inner img {
	max-height: 50rem;
}

div.feedback-item {
	min-height: 21rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
div.feedback .carousel .carousel-inner {
	width: 70%;
	margin: auto;
}
div.feedback-item .feedback-text {
	font-size: 1.5rem;
}
div.feedback-item .feedback-author {
	font-size: 1rem;
	align-self: flex-end;
}
div.feedback-item .feedback-text::before {
    content: "\201C";
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4rem;
    margin-right: 1rem;
}
div.feedback-item .feedback-text::after {
    content: "\201D";
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4rem;
    margin-left: 1rem;
    vertical-align: -3rem;
}

div.quiz-block-container.footer .quiz-block.block-footer {
	background: #000033;
	color: #FFFFFF;
	padding-bottom: 10rem;
}
div.quiz-block-container.footer .socialbuttons img {
	padding: 5px;
}
div.quiz-block-container.footer .footer-text {
	text-align: center;
}
div.quiz-block-container.footer .text {
	padding-bottom: 1rem;
}
div.quiz-block-container.footer .phone {
	font-size: 2rem;
	font-weight: bold;
}
div.quiz-block-container.footer .email {
	font-size: 1.5rem;
	padding-bottom: 1.5rem;
}
div.quiz-block-container.footer .email a {
	color: #FFFFFF;
}
div.quiz-block-container.footer .email a:hover {
	color: #FFFFFF;
}
div.quiz-block-container.footer .email a:visited {
	color: #FFFFFF;
}

.quiz-window .modal-content {
	background-color: #330066;
	color: #FFFFFF;
	border-radius: 0;
}
.quiz-window .modal-header {
	background-color: #000033;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    border-radius: 0;
	border: none;
}
.quiz-window label {
	padding-top: 2rem;
}
.quiz-window input {
	border-radius: 0;
}
.quiz-window select {
	border-radius: 0;
}
.quiz-window .close {
	color: inherit;
	text-shadow: none;
	opacity: inherit;
}
.quiz-window button:focus {
	outline: none;
}
.quiz-window .form-control:focus {
	box-shadow: none;
}
.quiz-window .quiz-window-title {
	text-align: center;
}
.quiz-window .quiz-window-text {
	text-align: center;
	padding-top: 1rem;
}
.quiz-window .modal-body {
	font-size: 1.1rem;
	margin-left: 2rem;
    margin-right: 2rem;
}
.quiz-window .modal-footer {
    border-radius: 0;
	border: none;
	justify-content: center;
}

.quiz-window button {
	margin-top: 0;
}

.quiz-window .carousel-inner {
	margin: auto;
	width: 70%;
}
#questionWindow.quiz-window .question-item {
	min-height: 23rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.quiz-window .question-item .question-text {
	padding-bottom: 1rem;
	font-size: 1.3rem;
}
.quiz-window .question-item .question-answer-link {
	font-size: 0.8rem;
	color: #FFFFFF;
	border-bottom: 1px dashed #FFFFFF;
}
.quiz-window .question-answer-link-wrapper {
	align-self: flex-end;
}
.quiz-window .question-answer-text-wrapper {
	height: 2rem;
	margin-top: 1rem;
}
.quiz-window .question-item .question-answer-link:hover {
	cursor: pointer;
}
.quiz-window .question-item .question-answer-text {
	display: none;
}

#questionWindow .modal-dialog {
	max-width: 70rem;
}

#registrationWindow label {
	padding-top: 1rem;
}
#registrationWindow .modal-dialog {
	max-width: 40rem;
}
#registrationWindow .quiz-window-title {
	padding-bottom: 1rem;
}
.quiz-game-card {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-style: dashed;
	border-width: 2px;
}
.quiz-game-card:hover {
	cursor: pointer;
}
.quiz-game-card .registration-date {
	text-align: center;
}
.quiz-game-card .registration-city {
	text-align: center;
	font-size: 1.5rem;
    padding-bottom: 0.7rem;
}
.quiz-game-card .registration-day {
	text-align: center;
}
.quiz-game-card .registration-time {
	text-align: center;
	padding-top: 1rem;
	font-size: 1.5rem;
}
.quiz-game-card.selected {
	background-color: #ff6699;
	border-color: #330066;
}

@media (min-width: 1920px) {
	div.quiz-block-container.main .socialbuttons {
		padding-top: 25rem;
	}
	div.quiz-block-container.main .cert {
		padding-top: 30rem;
	}
	div.quiz-block-container.main .quiz-block {
		background-position: center 4rem;
		background-size: 60rem;
	}
	div.quiz-item {
		font-size: 2rem;
		padding-bottom: 2rem;
	}
	div.quiz-item .quiz-icon {
		font-size: 2.2rem;
	}
}

@media (max-width: 1280px) and (min-width: 992px) {
	nav.quiz-menu #navbarNav ul.nav {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	div.quiz-block-container.gallery .carousel .carousel-inner {
		width: 100%;
	}
	div.quiz-block-container.main .socialbuttons {
		padding-top: 10rem;
	}
	div.quiz-block-container.main .cert {
		padding-top: 15rem;
	}
	div.quiz-block-container.main .quiz-block {
		background-position: center 8rem;
		background-size: 30rem;
	}
	div.quiz-block-container.main .main-header {
		font-size: 2rem;
	}
	div.quiz-header {
		font-size: 2rem;
	}
	div.quiz-item {
		padding-left: 1rem;
	}
}


@media (max-width: 992px) {
	nav.quiz-menu #navbarNav ul.nav {
		padding-left: 1.1rem;
	}
	div.quiz-header {
		font-size: 1.5rem;
	}
	div.quiz-item {
		padding-left: 0.7rem;
	}
	div.quiz-item .quiz-icon {
		font-size: 1.5rem;
	}
	div.quiz-block.faq .quiz-title {
		padding-left: 1rem;
	}
	div.quiz-block-container div.quiz-block .main-text {
		font-size: 1.5rem;
	}
	div.quiz-block-container.main {
		background-image: url("image/main_background_mobile.png");
		background-position: right top;
	}
	div.quiz-block-container.main .main-header {
		font-size: 1.7rem;
	}
	div.quiz-block-container.main .quiz-block {
		background-image: none;
	}
	div.quiz-block-container.main .socialbuttons {
		display: none;
	}
	div.quiz-block-container.main .cert {
		padding-top: 8rem;
	}
	div.quiz-block-container.gallery .carousel .carousel-inner {
		width: 100%;
	}
	nav.quiz-menu .nav-item .nav-link.active {
		border-bottom: none;
	}
	.quiz-window .modal-body {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	.quiz-window .question-item .question-text {
		padding-bottom: 0.5rem;
		font-size: 1rem;
	}
	.quiz-window .question-item .question-answer-text {
		font-size: 0.8rem;
	}
	.quiz-game-card {
		margin-bottom: 1rem;
	}
}