h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.letsquiz-grid {
    margin-bottom: 6rem;
}

button.crud-create {
    margin-bottom: 1rem;
}

.action-column {
    white-space: nowrap;
}

.img-preview {
    max-height: 100px;
    max-width: 200px;
}