
@font-face {
    font-family: "Montserrat";
    src: url("fonts/MONTSERRAT-REGULAR.TTF");
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/MONTSERRAT-EXTRABOLD.TTF");
    font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', 'Verdana';
	background: #000033;
	position: relative;
}

a {
	color: #FFFFFF;
}
a.underlined-link {
	text-decoration: underline;
}
a:hover {
	color: #FFFFFF;
	cursor: pointer;
}
a:visited {
	color: #FFFFFF;
}

div.quiz-header {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 4rem;
}
a:focus {
	outline: none !important;
}
button.btn {
    border-radius: 0;
}
button.btn:focus {
	outline: inherit;
    box-shadow: inherit;
}

.page-block {
	z-index: 900;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 0, 50, 0.8);
	display: none;
}

nav.quiz-menu {
	background: #5935A3;
	color: #FFFFFF;
	padding: 0;

	position: fixed;
	height: 100%;
	z-index: 999;
}
nav.quiz-menu .menu-content {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
nav.quiz-menu .menu-content.closed {
	width: 5rem;
}
nav.quiz-menu .menu-content.opened {
	display: none;
	width: 22rem;
}
nav.quiz-menu .menu-content-opened-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
nav.quiz-menu .menu-content.opened .menu-header-block {
	background: #7A5CB6;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
nav.quiz-menu .menu-content.opened .menu-header-block .menu-header-text {
	flex: auto;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
    padding-left: 1.5rem;
	display: flex;
    align-items: center;
}
nav.quiz-menu .collapse-button::before {
	top: -5px;
	position: relative;
}
nav.quiz-menu .collapse-button {
	background: #7A5CB6;
	color: #FFFFFF;
	font-size: 3rem;
	text-align: center;
	width: 5rem;
	height: 5rem;
}
nav.quiz-menu .collapse-button:hover {
	cursor: pointer;
}
nav.quiz-menu .menu-info-block {
	-webkit-flex: auto;
	flex: auto;
}
nav.quiz-menu .menu-info-text {
	transform-origin: 0 0;
	transform: rotate(270deg);
    position: relative;
    top: 90%;
    width: 450px;
	font-size: 1.5rem;
    line-height: 1.5rem;
	text-transform: uppercase;
	left: 1rem;
}
nav.quiz-menu .menu-title-block {
	height: 300px;
}
nav.quiz-menu .menu-title-text {
	transform-origin: 0 0;
	transform: rotate(270deg);
    position: relative;
	top: 85%;
    width: 280px;
	font-size: 2.8rem;
    font-weight: bold;
    left: 7px;
}

nav.quiz-menu .menu-items-block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
}

nav.quiz-menu .menu-items-block .navbar-nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav.quiz-menu .menu-items-block .nav-item .nav-link {
	color: #FFFFFF;
    font-size: 1.5rem;
    text-transform: uppercase;
}
nav.quiz-menu .menu-items-block .nav-item .nav-link:hover {
    font-weight: bold;
}
nav.quiz-menu .menu-callback-block {
	flex-grow: 1;
	padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
	flex-direction: column;
	justify-content: center;
}
.quiz-button {
    display: inline;
    padding: 0px 15px;
	border-style: none;
    border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.quiz-button:hover {
	cursor: pointer;
	text-decoration: none;
}
a.btn.quiz-button:hover {
	color: inherit;
}
button:focus {
    outline: none;
}
.quiz-button:focus {
    outline: none;
	text-decoration: none;
}

.quiz-button--dark {
    background-color: #492798;
	color: #FFFFFF;
}
.quiz-button--light {
    background-color: #FFFFFF;
	color: #5935A3;
}
.quiz-button--pink {
    background-color: #E30485;
	color: #FFFFFF;
}
nav.quiz-menu .menu-callback-block .callback-button {
	margin-bottom: 5rem;
}
nav.quiz-menu .menu-callback-block .callback-info {
	padding-bottom: 1rem;
}
nav.quiz-menu .menu-contact-block {
	font-size: 1.5rem;
    padding-left: 1rem;
	padding-bottom: 2rem;
	display: flex;
}
nav.quiz-menu .menu-contact-block .menu-contact-block-link {
	height: 2rem;
	margin-right: 0.8rem;
	margin-bottom: 5px;
}
nav.quiz-menu .menu-contact-block .menu-contact-block-phone {
	font-weight: bold;
}

nav.quiz-menu .quiz-menu-button {
	color: #FFFFFF;
	font-size: 3rem;
}
nav.quiz-menu .navbar-toggler:focus {
	outline: none !important;
}

div.quiz-block-container {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
    max-width: 100%;
}
div.quiz-block-container div.quiz-block {
	padding-top: 70px;
	padding-bottom: 70px;
	width: 100%;
    max-width: 100%;
}
div.quiz-block.block-dark {
	background-color: #330066;
	color: #FFFFFF;
}
div.quiz-block.block-light {
	background-color: #FFFFFF;
	color: #492798;
}

div.quiz-block-container div.quiz-block .main-text {
	padding-bottom: 50px;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}


div.quiz-item {
	font-size: 1.5rem;
	padding-bottom: 1rem;
	display: flex;
}
div.quiz-item .quiz-icon {
	padding-right: 1rem;
	font-size: 2rem;
}

div.quiz-block-container .text {
	font-size: 120%;
}
div.quiz-block-container .text-right {
	text-align: right;
}

div.quiz-panel {
	font-size: 180%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.quiz-panel.quiz-panel-no-img {
	font-size: 2.5rem;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.quiz-panel.panel-light {
	color: #000033;
}
div.quiz-panel.panel-light a {
	color: #000033;
}
div.quiz-panel.panel-light a:hover {
	color: #000033;
}
div.quiz-panel.panel-light a:visited {
	color: #000033;
}
div.quiz-panel.panel-dark {
	color: #000033;
}
div.quiz-panel.panel-dark a:hover {
	color: #FFFFFF;
}
div.quiz-panel.panel-dark a:visited {
	color: #FFFFFF;
}


div.quiz-panel img {
	padding-right: 50px;
}

div.quiz-block-container.main {
	color: #FFFFFF;
	background-image: url("image/fon.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
div.quiz-block-container.main .quiz-block {
	background-image: url("image/main-logo.png");
	background-repeat: no-repeat;
	background-position: center 10vh;
    background-size: 70vh;
	width: 100%;
	height: 100%;
}
.main-block-desktop {
	height: 85vh;
}
div.quiz-block-container.main .main-page-button {
	width: 20rem;
    position: absolute;
    right: 5rem;
}
div.quiz-block-container.main .city-button {
    top: 2rem;
}
div.quiz-block-container.main .schedule-button {
    bottom: 5rem;
}

div.quiz-block-container.main .main-header {
	text-align: center;
	font-size: 2.5rem;
}

div.quiz-block-container.main .contacts {
	padding-top: 1rem;
}
div.quiz-block-container.main .contacts .phone {
	font-size: 180%;
	font-weight: bold;
}
div.quiz-block-container.main .contacts .email {
	font-size: 150%;
	padding-bottom: 40px;
}
div.quiz-block-container.main .contacts .email a:hover {
	color: #FFFFFF;
}
div.quiz-block-container.main .contacts .email a:visited {
	color: #FFFFFF;
}
div.quiz-block-container.main .signup {
	padding-top: 1rem;
}
div.quiz-block-container.main .socialbuttons {
	padding-top: 15rem;
	padding-bottom: 50px;
}
div.quiz-block-container.main .cert {
	padding-top: 20rem;
	padding-bottom: 50px;
}

div.quiz-block-container.main .socialbuttons img {
	padding: 5px;
}

div.quiz-block-container.schedule .quiz-schedule-ad {
	height: 200px;
	background: linear-gradient(to right, transparent 40%, #492798 60%), url("image/schedule_background3.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;    
	margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div.quiz-block-container.schedule .quiz-schedule-ad-text {
	position: relative;
    float: right;
    width: 300px;
    color: #FFFFFF;
    font-size: 1.4rem;
    text-align: right;
	height: 100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1rem;
	padding-right: 2rem;
}

div.quiz-block-container.schedule .quiz-schedule-target-container {   
	margin-left: 0.5rem;
    margin-right: 0.5rem;
	margin-top: 2rem;
	width: 80%;
}
div.quiz-block-container.schedule .quiz-schedule-target-text {
    font-size: 2.5rem;
	font-weight: bold;
    line-height: 1.2;
    padding-right: 2rem;
}
div.quiz-block-container.schedule .quiz-schedule-target-tags {
	display: inline-block;
    line-height: 1.1;
}
div.quiz-block-container.schedule .quiz-schedule-target-tag {
    font-size: 1.2rem;
	font-weight: normal;
}

div.terms div.quiz-block.intro {
	background-image: url("image/background4.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
div.terms div.quiz-block.intro .quiz-terms-header {
	font-size: 6rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 5rem;
}

div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text {
	font-size: 1.5rem;
	line-height: 1.2;
	color: #492798;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 2.5rem;
	margin-bottom: 130px;
}
div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text:before {
	content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid #FFFFFF;
    border-right: 30px solid transparent;
    border-top: 80px solid #FFFFFF;
    border-bottom: 80px solid transparent;
    left: 15px;
    bottom: -130px;
    transform: rotate(30deg);
}

div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item {
	font-size: 1.7rem;
	line-height: 1.2;
	margin-bottom: 3rem;
	display: inline-flex;
}
div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item .quiz-icon {
	padding-right: 1.5rem;
	font-size: 2.5rem;
	color: #04A9ED;
    position: relative;
	top: -5px;
}

.address-list {
	margin-bottom: 2rem;
}
.address-item {
	font-size: 1.3rem;
    text-align: center;
	margin-bottom: 0.5rem;
}

div.quiz-block.details .faq-block {
	padding: 1.5rem 4rem;
	margin-bottom: 1rem;
	background-color: rgba(73, 39, 152, 0.8);
}

div.quiz-block.details .faq-block .quiz-title {
	font-size: 2rem;
    line-height: 1.1;
	text-transform: uppercase;
	padding-bottom: 1rem;
}
div.quiz-block.details .faq-block .quiz-item {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0rem;
}

.gallery .block-dark {
	background-image: url('image/background2.jpg');
}
.gallery .photo-block {
	margin-bottom: 1.5rem;
}
.gallery .photo-block img:hover {
	cursor: pointer;
}
.gallery .photo-gallery-link {
    margin-bottom: 1.5rem;
}
.gallery .photo-gallery-link .photo-gallery-link-background {
	background-color: #492798;
	background-image: url('image/background5.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
.gallery .photo-gallery-link .photo-gallery-link-text {
	position: relative;
    float: right;
    width: 500px;
    color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: bold;
    text-align: right;
    height: 100%;
    text-transform: uppercase;
    padding: 1.5rem;
}
.gallery .photo-gallery-link img.photo-gallery-link-text-vk {
	height: 2rem;
	margin-bottom: 5px;
    margin-left: 10px;
}
#photoWindow .modal-body {
	padding-top: 0.2rem;
}
#photoWindow img {
	width: 100%;
}

div.quiz-block-container.footer .quiz-block.block-footer {
	background: #47269B;
	color: #FFFFFF;
	padding-bottom: 10rem;
    padding-top: 8rem;
}

div.quiz-block-container.corp .corp-block.block-light {
	background-image: url("image/fon_white.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

div.quiz-block-container.corp .corp-text {
	font-size: 1.3rem;
	padding-bottom: 3rem;
}

div.quiz-block-container.corp .we-can-do {
	padding-top: 3rem;
}
div.quiz-block-container.corp .slick-dots li.slick-active button:before {
	color: #492798;
}
div.quiz-block-container.corp .corp-company-items .slick-next {
    right: -3rem;
}
div.quiz-block-container.corp .corp-company-items .slick-next:before {
    content: url("image/chevron-right-solid.png");
}
div.quiz-block-container.corp .corp-company-items .slick-prev {
    left: -3rem;
}
div.quiz-block-container.corp .corp-company-items .slick-prev:before {
    content: url("image/chevron-left-solid.png");
}
div.quiz-block-container.corp .corp-company-items .corp-company-item {
	height: 120px;
}

div.quiz-block-container.corp .corp-item {
	font-size: 1.4rem;
    line-height: 1.2;
    display: inline-flex;
	margin-bottom: 1rem;
}
div.quiz-block-container.corp .corp-item .quiz-icon {
    padding-right: 1rem;
    font-size: 4rem;
    top: -1.7rem;
    position: relative;
    height: 1rem;
}

div.quiz-block-container.corp .corp-questions-text {
	display: flex;
    justify-content: right;
	padding-top: 2rem;
	height: 8rem;
}
div.quiz-block-container.corp .corp-questions-buttons {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}
div.quiz-block-container.corp .corp-questions-button {
	margin-bottom: 0.5rem;
	width: 20rem;
}

div.quiz-block-container.rules .details {
	color: #FFFFFF;
	background-image: url("image/fon2.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
div.quiz-block-container.rules .rule {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}
div.quiz-block-container.rules .rule img {
	margin-bottom: 2rem;
	margin-left: 1rem;
	height: 150px;
}

div.quiz-block-container.rules .quiz-header {
	text-align: left;
    font-size: 4rem;
    line-height: 1.1;
}

div.quiz-block-container.footer .quiz-block.block-footer .quiz-header {
	text-align: left;
	font-size: 3rem;
	line-height: 1.2;
}
div.quiz-block-container.footer .quiz-block.block-footer .footer-text {
	font-size: 1.5rem;
	padding-bottom: 0.2rem;
}
div.quiz-block-container.footer .quiz-block.block-footer .footer-subheader {
	padding-bottom: 3rem;
}
div.quiz-block-container.footer .quiz-block.block-footer .footer-icon {
	height: 2rem;
	margin-bottom: 5px;
	margin-right: 1.5rem;
}

.quiz-window .modal-content {
	background-color: #330066;
	color: #FFFFFF;
	border-radius: 0;
	flex-direction: row;
}
.quiz-window .quiz-modal-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #47269B;
	padding-left: 2rem;
}
.quiz-window .modal-header {
	background-color: #E30485;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
}
.quiz-window .modal-header .modal-title {
	-webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    bottom: -2rem;
	padding-top: 0.4rem;
}
.quiz-window .form-control {
	border-radius: 0;
	margin-top: 1rem;
    width: 18rem;
}
.quiz-window select.form-control {
	padding-left: 0.5rem;
}
.quiz-window .close {
	background-color: #E9369C;
	font-size: 2.5rem;
    padding: 0.6rem;
	color: inherit;
	text-shadow: none;
	opacity: inherit;
}
.quiz-window .form-control:focus {
	box-shadow: none;
}
.quiz-window .quiz-window-title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
	margin-right: 1rem;
}
.quiz-window .quiz-window-text {
	text-align: center;
	padding-top: 1rem;
}
.quiz-form {
	padding-bottom: 1rem;
}
.quiz-form .form-control.dirty:invalid {
	background-color: #E9369C;
	color: #FFFFFF;
}
.quiz-form .form-control.dirty:invalid option {
	background-color: #FFFFFF;
	color: #495057;
}
.quiz-form .form-control.dirty:invalid::placeholder {
	color: #FFFFFF;
}
.quiz-window .modal-body {
	font-size: 1.1rem;
	padding-top: 2.5rem;
}
.quiz-window .modal-footer {
    border-radius: 0;
	border: none;
	justify-content: left;
}
.quiz-window .quiz-button {
	width: 15rem;
}
.quiz-window .quiz-button:disabled {
	color: rgba(255,255,255, 0.5);
	background-color: rgba(233,54,156, 0.3);
}
.quiz-window .quiz-button .loading {
	width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.2rem;
    display: none;
}

.quiz-window button {
	margin-top: 0;
}

.quiz-window .error-container {
	display: none;
	color: #E9369C;
	margin-top: 0.5rem;
}

.call-send-button {
	margin-bottom: 1.5rem;
	padding: 0.5rem 2rem;
}

.reg-send-button {
    margin-bottom: 1.5rem;
	padding: 0.5rem 2rem;
}

.select-city-button {
	margin-bottom: 1.5rem;
	padding: 0.5rem 2rem;
}

.quiz-game-card {
	padding: 1.2rem;
	margin-bottom: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #ebebeb;
	line-height: 1.2;
}
.quiz-game-card.game-closed {
	color: rgba(0, 0, 51, 0.5);
}
.quiz-game-card.game-closed .game-label-svg-icon {
	color: rgba(0, 0, 51, 0.5);
}
.quiz-game-card.game-color-black {
	color: #31312F;
}
.quiz-game-card.game-color-black .registration-button {
	background-color: #31312F;
}
.quiz-game-card.game-color-black .game-label-svg-icon {
	filter: invert(16%) sepia(1%) saturate(2420%) hue-rotate(47deg) brightness(101%) contrast(91%);
}
.quiz-game-card.game-color-blue {
	color: #05A3D0;
}
.quiz-game-card.game-color-blue .registration-button {
	background-color: #05A3D0;
}
.quiz-game-card.game-color-blue .game-label-svg-icon {
	filter: invert(47%) sepia(87%) saturate(1845%) hue-rotate(159deg) brightness(93%) contrast(96%);
}
.quiz-game-card.game-color-darkblue {
	color: #47259D;
}
.quiz-game-card.game-color-darkblue .registration-button {
	background-color: #47259D;
}
.quiz-game-card.game-color-darkblue .game-label-svg-icon {
	filter: invert(16%) sepia(40%) saturate(4673%) hue-rotate(248deg) brightness(94%) contrast(101%);
}
.quiz-game-card.game-color-pink {
	color: #E50380;
}
.quiz-game-card.game-color-pink .registration-button {
	background-color: #E50380;
}
.quiz-game-card.game-color-pink .game-label-svg-icon {
	filter: invert(21%) sepia(83%) saturate(5746%) hue-rotate(315deg) brightness(87%) contrast(109%);
}
.quiz-game-card.game-color-yellow {
	color: #F37C04;
}
.quiz-game-card.game-color-yellow .registration-button {
	background-color: #F37C04;
}
.quiz-game-card.game-color-yellow .game-label-svg-icon {
	filter: invert(63%) sepia(47%) saturate(4412%) hue-rotate(357deg) brightness(94%) contrast(101%);
}
.quiz-game-card .game-label {
	font-size: 1rem;
}
.quiz-game-card .game-label .game-label-icon {
	font-size: 1rem;
	margin-right: 0.5rem;
}
.quiz-game-card .game-label .game-label-svg-icon {
	height: 1rem;
	width: 1rem;
	position: relative;
    top: 2px;
	display: inline-block;
  	background-size: cover;
}
.quiz-game-card .game-label .game-label-icon.game-price-ruble {
	background-image: url(image/ruble-icon.svg);
}
.quiz-game-card .game-label.game-name {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0.3rem;
}
.quiz-game-card .game-date-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.quiz-game-card .registration-button {
	text-align: center;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: #492798;
	text-transform: uppercase;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	color: #EBEBEB;
	display: block;
}
.quiz-game-card a.registration-button:hover {
	text-decoration: none;
}
.quiz-game-card a.registration-button:hover:not([data-toggle]) {
	cursor: default;
}

#toast-container > div {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#toast-container > div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.toast-success {
    background-color: #492798;
}

@media (min-width: 1441px) {
	/* .quiz-game-card .game-label.game-name {
		font-size: 2rem;
	}
	.quiz-game-card .game-label {
		font-size: 1.2rem;
	}
	.quiz-game-card .game-label .game-label-icon {
		font-size: 1.2rem;
		margin-right: 1rem;
	}
	.quiz-game-card .game-label .game-label-svg-icon {
		height: 1.2rem;
		width: 1.2rem;
		top: 3px;
	} */
	.quiz-game-card .registration-button {
		font-size: 1.5rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-text {
		font-size: 3.5rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-header {
		font-size: 8rem;
	}
	div.quiz-block-container.rules .rule {
		font-size: 1.7rem;
	}
	div.quiz-block-container.rules .rule img {
		margin-left: 2rem;
	}
	div.quiz-block-container.rules .quiz-header {
		font-size: 5rem;
	}
	.gallery .photo-gallery-link .photo-gallery-link-text {
		font-size: 2rem;
		padding: 2rem;
	}
	div.quiz-block-container.corp .corp-text {
		font-size: 1.7rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .quiz-header {
		font-size: 4rem;
	}
	div.quiz-block.details .faq-block {
		padding: 1.5rem 7rem;
	}
	div.quiz-block.details .faq-block .quiz-title {
		font-size: 2rem;
	}
}


@media (max-width: 1024px) and (min-width: 769px) {
	nav.quiz-menu .collapse-button {
		font-size: 2.5rem;
		width: 4rem;
		height: 4rem;
	}
	nav.quiz-menu .menu-content.closed {
		width: 4rem;
	}
	nav.quiz-menu .menu-content.opened {
		width: 17rem;
	}
	nav.quiz-menu .menu-info-text {
		font-size: 1rem;
		line-height: 1.1rem;
		width: 350px;
	}
	nav.quiz-menu .menu-content.opened .menu-header-block .menu-header-text {
		font-size: 1.3rem;
		padding-left: 1rem;
	}
	nav.quiz-menu .menu-items-block .nav-item .nav-link {
		font-size: 1rem;
	}
	nav.quiz-menu .menu-items-block .navbar-nav {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	nav.quiz-menu .menu-title-block {
		height: 230px;
	}
	nav.quiz-menu .menu-title-text {
		font-size: 2rem;
		width: 200px;
	}
	nav.quiz-menu .nav-link {
		padding: 0.1rem 1rem;
	}
	nav.quiz-menu .menu-contact-block {
		font-size: 1.1rem;
	}
	nav.quiz-menu .menu-contact-block .menu-contact-block-link {
		height: 1.5rem;
	}
	.quiz-button {
		font-size: 1.1rem;
	}
	.quiz-game-card {
		padding: 1rem;
	}
	.quiz-game-card .game-label.game-name {
		font-size: 1rem;
	}
	.quiz-game-card .game-label {
		font-size: 0.7rem;
	}
	.quiz-game-card .game-label .game-label-icon {
		font-size: 0.7rem;
		margin-right: 0.2rem;
	}
	.quiz-game-card .game-label .game-label-svg-icon {
		height: 0.7rem;
		width: 0.7rem;
		top: 1px;
	}
	.quiz-game-card .registration-button {
		font-size: 0.7rem;
		margin-top: 0.5rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-ad {
		height: 133px;
	}
	div.quiz-block-container.schedule .quiz-schedule-ad-text {
		font-size: 1.1rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-text {
		font-size: 1.8rem;
		padding-right: 1rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-tag {
		font-size: 0.7rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-header {
		font-size: 3rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text {
		font-size: 1rem;
		padding: 1.5rem;
		padding-bottom: 2rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item .quiz-icon {
		padding-right: 1rem;
		font-size: 2rem;
	}
	.gallery .photo-gallery-link .photo-gallery-link-text {
		font-size: 1rem;
		padding: 1rem;
	}
	.gallery .photo-gallery-link img.photo-gallery-link-text-vk {
		height: 1.3rem;
	}
	div.quiz-block-container.corp .corp-text {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-item {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-item .quiz-icon {
		font-size: 3rem;
		top: -1.2rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .quiz-header {
		font-size: 2rem;
		line-height: 1.4;
	}
	div.quiz-block-container.rules .details {
		padding-top: 70px;
	}
	div.quiz-block-container.rules .quiz-header {
		font-size: 3rem;
	}
	div.quiz-block.details .faq-block {
		padding: 1.5rem 2rem;
	}
	div.quiz-block.details .faq-block .quiz-title {
		font-size: 1.5rem;
	}
	div.quiz-block.details .faq-block .quiz-item {
		font-size: 1rem;
	}
}


@media (max-width: 768px) and (min-width: 541px) {
	nav.quiz-menu .collapse-button {
		font-size: 2.5rem;
		width: 4rem;
		height: 4rem;
	}
	nav.quiz-menu .menu-content.closed {
		width: 4rem;
	}
	nav.quiz-menu .menu-content.opened {
		width: 17rem;
	}
	nav.quiz-menu .menu-info-text {
		font-size: 1rem;
		line-height: 1.1rem;
		width: 350px;
	}
	nav.quiz-menu .menu-content.opened .menu-header-block .menu-header-text {
		font-size: 1.3rem;
		padding-left: 1rem;
	}
	nav.quiz-menu .menu-items-block .nav-item .nav-link {
		font-size: 1rem;
	}
	nav.quiz-menu .menu-items-block .navbar-nav {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	nav.quiz-menu .menu-title-block {
		height: 230px;
	}
	nav.quiz-menu .menu-title-text {
		font-size: 2rem;
		width: 200px;
	}
	nav.quiz-menu .nav-link {
		padding: 0.1rem 1rem;
	}
	nav.quiz-menu .menu-contact-block {
		font-size: 1.1rem;
	}
	nav.quiz-menu .menu-contact-block .menu-contact-block-link {
		height: 1.5rem;
	}
	.quiz-button {
		font-size: 1.1rem;
	}

	div.quiz-block-container.schedule .quiz-schedule-ad {
		height: 133px;
	}
	div.quiz-block-container.schedule .quiz-schedule-ad-text {
		font-size: 1.1rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-text {
		font-size: 1.5rem;
		padding-right: 0.7rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-tag {
		font-size: 0.7rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-header {
		font-size: 3rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text {
		font-size: 1rem;
		padding: 1.5rem;
		padding-bottom: 2rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item .quiz-icon {
		padding-right: 1rem;
		font-size: 2rem;
	}
	.gallery .photo-gallery-link .photo-gallery-link-text {
		font-size: 1rem;
		padding: 1rem;
	}
	.gallery .photo-gallery-link img.photo-gallery-link-text-vk {
		height: 1.3rem;
	}
	div.quiz-block-container.corp .corp-text {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-item {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-item .quiz-icon {
		font-size: 3rem;
		top: -1.2rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .quiz-header {
		font-size: 1.5rem;
		line-height: 1.4;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .footer-text {
		font-size: 1rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .footer-icon {
		height: 1.5rem;
		margin-right: 1rem;
	}
	div.quiz-block-container.rules .rule {
		font-size: 1rem;
	}
	div.quiz-block-container.rules .quiz-header {
		font-size: 2.5rem;
	}
	div.quiz-block.details .faq-block {
		padding: 1.5rem 4rem;
	}
}


@media (max-width: 540px) {
	.main-block-desktop {
		height: 110vw;
	}
	div.quiz-block-container.main .main-page-button {
		display: block;
		position: inherit;
		right: inherit;
		bottom: inherit;
		padding: 5px 15px;
		margin-left: auto;
		margin-right: auto;
		width: 15rem;
	}
	div.quiz-block-container.main .city-button {
		top: 5vw;
	}
	div.quiz-block-container.main .schedule-button {
		top: 100vw;
	}
	div.quiz-block-container.main .quiz-block {
		background-position: center 9rem;
		background-size: 20rem;
	}
	nav.quiz-menu {
		height: 4rem;
		width: 100%;
	}
	nav.quiz-menu .collapse-button {
		font-size: 2.5rem;
		width: 4rem;
		height: 4rem;
	}
	nav.quiz-menu .menu-content.closed {
		width: 100%;
    	flex-direction: row;
	}
	nav.quiz-menu .menu-content.opened {
		width: 100%;
		height: 100%;
		position: fixed;
	}
	nav.quiz-menu .menu-content.opened .menu-header-block {
		height: 4rem;
		background: inherit;
	}
	nav.quiz-menu .menu-content.opened .menu-content-opened-container {
		background: #5935A3;
    	height: 100%;
	}
	nav.quiz-menu .menu-info-text {
		-webkit-transform-origin: inherit;
		transform-origin: inherit;
		-webkit-transform: inherit;
		transform: inherit;
		top: 1rem;
		width: 250px;
		font-size: 1rem;
		line-height: 1.1rem;
	}
	nav.quiz-menu .menu-content.opened .menu-header-block .menu-header-text {
		font-size: 1.3rem;
		padding-left: 1rem;
	}
	nav.quiz-menu .menu-items-block .nav-item .nav-link {
		font-size: 1rem;
	}
	nav.quiz-menu .menu-items-block .navbar-nav {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	nav.quiz-menu .menu-title-block {
		display: none;
	}
	nav.quiz-menu .nav-link {
		padding: 0.1rem 1rem;
	}
	nav.quiz-menu .menu-callback-block {
		padding-left: 2rem;
    	padding-right: 2rem;
	}
	nav.quiz-menu .menu-contact-block {
		padding-left: 2rem;
	}
	nav.quiz-menu .menu-contact-block .menu-contact-block-link {
		height: 1.5rem;
	}
	.quiz-button {
		font-size: 1.1rem;
	}

	div.quiz-block-container .quiz-header {
		font-size: 1.7rem;
	}

	div.quiz-block-container.schedule .quiz-schedule-ad {
		height: 133px;
	}
	div.quiz-block-container.schedule .quiz-schedule-ad-text {
		font-size: 1.1rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-text {
		font-size: 1.5rem;
		padding-right: 0.7rem;
		display: block;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-tags {
		margin-top: 0.5rem;
	}
	div.quiz-block-container.schedule .quiz-schedule-target-tag {
		font-size: 0.7rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-header {
		font-size: 3rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text {
		font-size: 1rem;
		padding: 1.5rem;
		padding-bottom: 2rem;
		margin-bottom: 80px;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-text:before {
		display: none;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}
	div.terms div.quiz-block.intro .quiz-terms-details .quiz-terms-details-item .quiz-icon {
		padding-right: 1rem;
		font-size: 2rem;
	}
	div.quiz-block-container.rules .details {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.gallery .photo-gallery-link .photo-gallery-link-text {
		font-size: 1rem;
		padding: 1rem;
	}
	.gallery .photo-gallery-link img.photo-gallery-link-text-vk {
		height: 1.3rem;
	}
	div.quiz-block-container.corp .corp-text {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-company-items {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	div.quiz-block-container.corp .corp-item {
		font-size: 1rem;
	}
	div.quiz-block-container.corp .corp-item .quiz-icon {
		font-size: 3rem;
		top: -1.2rem;
	}
	div.quiz-block-container.corp .corp-questions-text {
		justify-content: center;
	}
	div.quiz-block-container.corp .corp-questions-button {
		margin-left: auto;
		margin-right: auto;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .quiz-header {
		font-size: 1.3rem;
		line-height: 1.2;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .footer-text {
		font-size: 1rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .footer-icon {
		height: 1.5rem;
		margin-right: 1rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer .footer-subheader {
		padding-bottom: 1rem;
	}
	div.quiz-block-container.footer .quiz-block.block-footer {
		padding-bottom: 4rem;
		padding-top: 2rem;
	}
	div.quiz-block-container.rules .rule {
		font-size: 1rem;
	}
	div.quiz-block-container.rules .rule img {
		margin-bottom: 1rem;
		margin-left: inherit;
		height: 100px;
	}
	div.quiz-block-container.rules .quiz-header {
		font-size: 2rem;
	}
	div.quiz-block.details .faq-block {
		padding: 1.5rem 2rem;
	}
	div.quiz-block.details .faq-block .quiz-title {
		font-size: 1rem;
	}
	div.quiz-block.details .faq-block .quiz-item {
		font-size: 0.8rem;
	}
	div.quiz-block-container.corp .corp-questions-button {
		width: 18rem;
	}

	.quiz-window .quiz-modal-body {
		padding-left: 0rem;
	}
	.quiz-window .form-control {
		width: 15rem;
	}
}
